<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Thymeleaf Demo</title>

<!-- reference CSS file -->
<link rel="stylesheet" th:href="@{/css/demo.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>

	<h3>Employee Directory</h3>
	<hr>
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>


		<tbody>
			<tr th:each="tempEmployee: ${employees}">
			<td th:text="${tempEmployee.firstName}"></td>
			<td th:text="${tempEmployee.lastName}"></td>
			<td th:text="${tempEmployee.email}"></td>
			
			</tr>
		</tbody>

	</table>

</body>

</html>






